extends common/layout
block content
  img.banner(src="https://images.unsplash.com/photo-1569982615761-66697da68502?q=80&w=2370&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="Banner Image")
  .container
    .row
      .col
        
        h1.about-us.text-center About Us
        p.about-us__content.text-justify Welcome to our rental website for Toronto! We are dedicated to helping you find the perfect rental property in this vibrant city.

    .row
      .col
        h2.our-mission.text-center Our Mission
        p.about-us__content.text-justify Our mission is to connect renters with landlords and property managers, making the process of finding a rental property in Toronto as seamless as possible. We strive to provide a user-friendly platform that offers a wide range of rental options to suit every budget and preference.