extends common/layout
block content
  .container
    .row
      .col
        h1.about-us.text-center About Us
        p.welcome-message.text-justify Welcome to our rental website for Toronto! We are dedicated to helping you find the perfect rental property in this vibrant city.

    .row
      .col
        h2.our-mission.text-center Our Mission
        p.text-justify Our mission is to connect renters with landlords and property managers, making the process of finding a rental property in Toronto as seamless as possible. We strive to provide a user-friendly platform that offers a wide range of rental options to suit every budget and preference.